[github]
	user = hogihung 
[user]
	email = hogihung@gmail.com
	name = "John Hogarty"
[push]
	default = simple
[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
  editor = /usr/local/bin/vim
[alias]
  co = checkout
  ci = commit
  br = branch
  st = status
[color]
  ui = auto
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
