Desktop/
Documents/
Downloads/
Music/
Pictures/
Projects/
Public/
.rubies/
src/
Templates/
Videos/
.compiz/
.config/
.gconf/
.local/
.ssh/
.Private
.adobe
.bash_history
.cache
.ecryptfs
.gem
.macromedia
.mozilla
*.log
examples.desktop
.xsession-error*
.zcompdump*
.zsh_history
.gitignore.swp
.ICEauthority
.Xauthority
